.about {
    padding:3.2rem 0;
}

@media (min-width: 768px) {
    .about__container {
        max-width: 80rem;
    }
}


.about__title {
    margin-bottom: 1.6rem;
    color: var(--clr-dark);
    font-size: var(--fs-small);
    text-align: center;
}

.about__text {
    font-size: var(--fs-text);
}

.about__text:not(:last-child) {
    margin-bottom: 1.6rem;
}

.about .experience__button {
    margin-top: 2rem;
}