:root {
    --clr-primary: #f5f5f5;
    --clr-secondary: #EAF2FD;
    --clr-accent: #2a7be5;
    --clr-dark: #464646;
    --clr-white: #FFF;

    /* --fs-big: 5.2rem;
    --fs-medium: 3.2rem;
    --fs-small: 2.2rem;
    --fs-text: 1.6rem;
    --fs-xsmall: 1.4rem; */

    --fs-big: clamp(2.2rem, 4vw + 1rem, 5.2rem);
    --fs-medium: clamp(2.2rem, 4vw + 1rem, 3.2rem);
    --fs-small: clamp(2rem, 1.5vw + 0.5rem, 3rem);
    --fs-text: clamp(1.6rem, 1.5vw + 0.25rem, 2rem);
    --fs-xsmall: clamp(1.4rem, 1.5vw + 0.25rem, 1.6rem);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    color: var(--clr-dark);
    background: var(--clr-primary)
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

a {
    text-decoration: none;
    color: var(--clr-dark);
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
    width: min(90%, 120rem);
    margin-inline: auto;
}

.not-allowed {
    opacity: 50%;
}

.not-allowed:hover {
    cursor: not-allowed;
}

.diagonal-shape {
    --skew-angle: -1.5deg;
    --bg-gradient: #EAF2FD;
    position: relative;
    isolation: isolate;
}

.diagonal-shape::after {
    content: '';
    position: absolute;
    background: var(--bg-gradient);
    inset: 0;
    transform: skewY(var(--skew-angle));
    z-index: -1;
}

[data-aos="fade-up-mq-right"] {
    opacity: 0;
    transform: translateY(100%);
    transition-property: transform, opacity;

    &.aos-animate {
        opacity: 1;
        transform: translateY(0);
    }

    @media screen and (min-width: 1024px) {
        transform: translateX(-100%);

        &.aos-animate {
            transform: translateX(0);
        }
    }
}

[data-aos="fade-up-mq-left"] {
    opacity: 0;
    transform: translateY(100%);
    transition-property: transform, opacity;

    &.aos-animate {
        opacity: 1;
        transform: translateY(0);
    }

    @media screen and (min-width: 1024px) {
        transform: translateX(100%);

        &.aos-animate {
            transform: translateX(0);
        }
    }
}