.perfil {
    text-align: center;
    padding: 0 0 3.2rem 0;
}

@media (min-width: 768px) {
    .perfil {
        display: flex;
        align-items: center;
    }
}

.perfil__image {
    border-radius: 100%;
    margin-inline: auto;
    width: 10rem;
    margin-bottom: 1.6rem;
}

@media (min-width: 768px) {
    .perfil__image {
        order: 2;
        width: 15rem;
        margin-bottom: 0;
    }
    .perfil__information {
        width: 75%;
    }
}

@media (min-width: 1024px) {
    .perfil__image {
        width: 25rem;
    }
}

.perfil__data {
    margin-bottom: 1.6rem;
}

.perfil__name {
    font-size: var(--fs-small);
    font-weight: bold;
}

@media (min-width: 1024px) {
    .perfil__name {
        font-size: var(--fs-big);
    }
}

.perfil__occupation {
    font-size: var(--fs-xsmall);
}

@media (min-width: 768px) {
    .perfil__occupation {
        font-size: var(--fs-text);
    }
}

@media (min-width: 1024px) {
    .perfil__occupation {
        font-size: var(--fs-small);
    }
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-media__links {
    display: flex;
    align-items: center;
}

.social-media__links::after {
    content: '';
    display: inline-block;
    width: 2rem;
    margin-left: 0.5rem;
    align-items: center;
}

.social-media__links--github::after {
    content: url(/src/images/github-logo.svg);
}
.social-media__links--linkedin::after {
    content: url(/src/images/linkedin-logo.svg);
}
.social-media__links--instagram::after {
    content: url(/src/images/instagram-logo.svg);
}