.perfil {
    text-align: center;
    padding: 0 0 3.2rem 0;
}

@media (min-width: 768px) {
    .perfil {
        display: flex;
        align-items: center;
    }
}

.perfil__image {
    border-radius: 100%;
    margin-inline: auto;
    width: 10rem;
    margin-bottom: 1.6rem;
}

@media (min-width: 768px) {
    .perfil__image {
        order: 2;
        width: 15rem;
        margin-bottom: 0;
    }
    .perfil__information {
        width: 75%;
    }
}

@media (min-width: 1024px) {
    .perfil__image {
        width: 25rem;
    }
}

.perfil__data {
    margin-bottom: 1.6rem;
}

.perfil__name {
    font-size: var(--fs-big);
    font-weight: bold;
    margin: 0 0 1.6rem 0;
}

.perfil__occupation {
    font-size: var(--fs-medium);
    margin-bottom: 1.6rem;
}

.social-media {
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-media__links {
    font-size: var(--fs-text);
    display: flex;
    align-items: center;
}

.social-media__links::before {
    content: '';
    display: inline-block;
    width: 2rem;
    margin-right: 0.5rem;
    /* align-items: center; */
}

.social-media__links--github::before {
    content: url(/src/images/logos/github-logo.svg);
}
.social-media__links--linkedin::before {
    content: url(/src/images/logos/linkedin-logo.svg);
}
.social-media__links--instagram::before {
    content: url(/src/images/logos/instagram-logo.svg);
}